body  
{  
    margin: 0;  
    padding: 0;  
    background-image: url(london.jpg); ;  
    font-family: 'Arial';  
    background-size: cover;
}  
.login{  
        width: 500px; 
        margin: 50px 150px 50px 350px;  
        padding: 80px;  
        background: #0074D9; ;  
        border-radius: 15px ;  
          
}  
h2{  
    color: #277582;  
    padding: 20px;  
}  

label{  
    color: #08ffd1;  
    font-size: 17px; 
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 25px;  
    text-align: center; 

}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 4px;  
    padding-left: 25px; 
    text-align: center; 
      
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
    text-align: center; 
    margin: 0px 50px 0px 100px;
  
  
}  
span{  
    color: white;  
    font-size: 17px;  
}  
a{  
    float: right;  
    background-color: #f1f1f1;  
} 
